.toolbar{

    --background:#7C3AED;

    --color:white;

}

.form-content{

    --background:#F8F5FF;

    padding:16px;

}

form{

    padding:18px;

}

ion-item{

    margin-top:15px;

    --border-radius:12px;

}

ion-button{

    margin-top:20px;

    --background:#7C3AED;

    --border-radius:14px;

}

ion-segment{

    margin-top:15px;

}